selenium
webdriver-manager
numpy
pandas==1.5.3
pandas_ta
scikit-learn
matplotlib
seaborn
plotly
jupyterlab
requests
beautifulsoup4
lxml
scrapy
scipy
statsmodels
gdown
streamlit
streamlit_folium
streamlit_lottie
folium
geopy
prophet==1.1.4
lightgbm
xgboost